/* 	Author: Markus Kauppinen 2014
	License: Public Domain 	*/

body a {
	text-decoration: none;
	color: blue;
}
body a:hover
{
	background-color: #ffeecc;
} 
#header {
	background: navy;
	color: white;
	font-size: 3em;
}
#menu {
	background: silver;
	overflow: hidden; /* Needed because of the left-floated menu items */
}
.menuItem {
	float: left;
	font-size: 1.5em;
	margin: 0.25em;
	margin-right: 0.5em;
	padding: 0.1em;
	border: solid;
	border-width: 1px;
	border-color: grey;
	background: #eeccaa;
	box-shadow: 5px 5px 5px gray;
}
#gameCanvasDiv {
	margin: auto;
	text-align: center;
	float: none;
}
#gameCanvas {
	border: solid;
	border-width: 1px;
	background: #eeeeff;
	margin: auto;
}
#currentGuessDiv {
	text-align: center;
	margin: 0.1em;
}
#currentGuess {
	background: silver;
	font-family: 'Courier New', monospace;
	font-size: 3em;
	
}
#keyboardDiv {
	margin: auto;
	text-align: center;
	max-width: 500px;
}
button {
	margin: 0.1em;
}
#footer {
	background: navy;
	color: white;
	font-size: 0.75em;
	text-align: center;
	margin-top: 5em;
}

/* Support for small screens */

/* Windows Phone 800x480 optimisation... */
@media screen and (max-width: 800px) and (orientation: portrait) {
	#header {
		font-size: 1em;
	}
	.menuItem {
		font-size: 2em;
		margin: 0.1em;
	}
	#currentGuess {
	font-size: 2em;
	}	
	button {
   		font-size: 2em;		
   	}
   	#keyboardDiv {
		max-width: 100%;
	}
}
@media screen and (max-height: 480px) and (orientation: landscape) {
	#header {
		font-size: 1em;
	}
	.menuItem {
		font-size: 1.5em;
		margin: 0.1em;
	}
	#currentGuess {
	font-size: 1.5em;
	}	
	button {
   		font-size: 1.25em;
   	}
   	#keyboardDiv {
		max-width: 100%;
	}

}
/* ...Windows Phone 800x480 optimisation */